<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>

<body id="dashboard">
    <header id="Header">
        <div class="col xs-1-2 sm-1-2 md-1-2 lg-1-2">
            <div class="row">
                <div class="header-sign">
                    <div class="menu-opener" data-class="open" onclick="toggleElement(this)">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="site-logo">
                        <img src="http://cnrimob.com/images/logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col xs-1-2 sm-1-2 md-1-2 lg-1-2 right-align">
            <div class="row">

                <div class="user-menu">

                    <div class="avatar"><span class="user-name">SB</span></div>

                    <div id='user-menu'>
                        <ul>
                            <li><a href="#">Çıkış Yap</a></li>
                            <li><a href="#!">Ayarlar</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <aside id="Side-bar">
        <div class="side-nav">
            <ul class="site-navigation">
                <!-- <li><a asp-controller="Home" asp-action="Index" class="btn-flat waves-effect waves-light"><i class="material-icons">home</i><span>Dashboard</span></a></li> -->
                <!-- <li><a asp-controller="Site" asp-action="Index" class="btn-flat waves-effect waves-light"><i class="material-icons">desktop_windows</i><span>Siteler</span></a></li> -->
                 <li><a asp-controller="Content" asp-action="Index" class="btn-flat waves-effect waves-light"><i class="material-icons">content_copy</i><span>İçerikler</span></a></li> 
                <!-- <li><a href="manage-navigations.html" class="btn-flat waves-effect waves-light"><i class="material-icons">link</i><span>Menüler</span></a></li> -->
                <li><a class="btn-flat waves-effect waves-light"><i class="material-icons">insert_photo</i><span>Galeri</span></a></li>
                <li>
                    <a class="btn-flat waves-effect waves-light">
                        <i class="material-icons">insert_chart</i><span>
                            Seo
                            Ayarları
                        </span>
                    </a>
                </li>
                <li><a asp-controller="Language" asp-action="Index" class="btn-flat waves-effect waves-light"><i class="material-icons">settings</i><span>Ayarlar</span></a></li>
            </ul>
        </div>
        <div class="user-menu">
            <div class="user"></div>
        </div>
    </aside>
    <main id="Wrapper">
        <div class="content">
            @RenderBody()
        </div>
    </main>

</body>

</html>
