@charset "UTF-8";

#wrapper {
    background: #f8f8f8;
    height: 100%;

    .header {
        background: none;
        position: fixed;
        left: 0;
        width: 100%;
        top: 50px;
        text-align: left;
        z-index: 2;

        .logo {
            img {
                max-width: 200px;
                display: inline-block;
            }
        }
    }

    .content {
        overflow: hidden;
        height: 100%;
        .container  {
            height: 100%;
        }
        .login-card {
            border-radius: 4px;
            padding: 1rem;
            max-width: 450px;
            width: 100%;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            .card-title {
                margin-bottom: 70px;
                text-align: center;
                color: $secondary-color;
                h4 {
                    font-weight: 500;
                }

                p {
                    opacity: .7;
                    font-size: 16px;
                    line-height: 1.2;

                    .big {
                        font-size: 20px;
                        margin-bottom: 8px;
                        display: block;
                    }
                }
            }

            .input-field {
                margin-bottom: 0;
                input {
                    box-sizing: border-box;
                    transition: all .2s ease-in-out;
                    border-width: 1px 1px 1px 1px;
                    border-style: solid;
                    border-color: #e9e9e9 !important;
                    background: #fff;
                    height: 54px;
                    border-radius: 27px;
                    transform: scale(1);
                    padding: 0 1.5rem;
                    font-weight: 500;
                    position: relative;
                    margin-bottom: 0;

                    &.invalid,
                    &.valid {
                        box-shadow: none;
                    }

                    &:focus {
                        z-index: 1;
                        transform: scale(1.1);
                        border-width: 1px 1px 1px 1px;
                        border-style: solid;
                        border-color: $secondary-color !important;
                        box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 0.4), 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
                        font-weight: 400;
                    }
                }
            }

            .legal-text {
                text-align: center;
                opacity: .3;
                font-size: 14px;
                margin-top: 20px;
            }
        }
    }

    .login-bg {
        position: absolute;
        background: transparent url("../asset/img/login-side-photo.svg");
        background-size: cover;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 0;
    }
}