#Side-bar {
    position: fixed;
    width: 60px;
    height: calc(100vh - 70px);
    overflow: hidden;
    left: 0;
    bottom: 0;
    background-color: $secondary-color;
    transition: width .3s ease-in-out;
    box-shadow: inset -30px 0 30px -20px rgba(0, 0, 0, .05);
    z-index: 100;

    // hover & pened menu -----------------------------------/
    &.menu-open,
        {
        width: 280px;

        .site-logo {
            transform: translateY(-50%) translateX(0) !important;
            opacity: 1 !important;
            visibility: visible !important;
        }

        .site-navigation {
            >li {
                a {
                    span {
                        transform: translateX(0) !important;
                        opacity: 1 !important;
                        visibility: visible !important;
                    }
                }
            }
        }
    }

    // hover & pened menu -----------------------------------/

    .side-nav {

        //position: relative;
        //top: 50%;
        //transform: translateY(-50%);  

        .site {
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid #ccc;

            .current-site {

                .site-logo {
                    position: absolute;
                    top: 50%;
                    left: 66px;
                    margin: 0;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-50%) translateX(-20px);
                    transition: all .4s;


                    img {
                        max-height: 60px;
                        max-width: 190px;
                        display: block;
                    }
                }
            }

            .switch-site {
                display: none;

                a {
                    text-align: center;
                }
            }
        }

        .site-navigation {
            li {
                position: relative;
                overflow: hidden;

                &:after {
                    content: "";
                    position: absolute;
                    top: 14px;
                    right: -50px;
                    border-top: 14px solid transparent;
                    border-bottom: 14px solid transparent;
                    border-right: 8px solid #f8f8f8;
                    transition: right .4s ease-in-out;
                }

                &:hover {
                    &:after {
                        right: 0;
                    }
                }

                a {
                    display: block;
                    padding: 0 16px;
                    text-align: left;
                    font-size: 1rem;
                    height: 56px;
                    line-height: 56px;
                    color: rgba(255, 255, 255, .8);

                    i,
                    span {
                        vertical-align: middle;
                        display: inline-block;
                    }

                    span {
                        opacity: 0;
                        transform: translateX(-20px);
                        visibility: hidden;
                        transition: all .4s;
                        margin-left: 10px
                    }

                    i {
                        font-size: 28px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        margin-right: 14px;
                    }
                }
            }
        }
    }

}